---
import CertificationCard from "../common/CertificationCard.astro";
import { db, Certifications as certifications } from "astro:db";
const certificationsData = await db.select().from(certifications);
---

<section id="certifications" class="scroll-mt-16 px-4 xl:px-0">
    <header>
        <h2 class="text-4xl font-bold scroll-animation">Certificaciones</h2>
    </header>
    <main class="mt-24 grid gap-8 grid-cols-1 xl:grid-cols-2">
        {certificationsData.map((props) => <CertificationCard {...props} />)}
    </main>
</section>
