---
import Link from "../common/Link.astro"
import Github from "../Icons/Github.astro"
import Gmail from "../Icons/Gmail.astro"
---

<section id="aboutme" class="mt-36 scroll-mt-16 px-4 xl:px-0">
    <img 
        class="w-20 h-20 object-cover object-center aspect-square rounded-full" 
        src="/profile.webp" 
        alt="Image Profile Luis"
    >
    <article class="mt-8">
        <div class="text-4xl xl:text-5xl flex items-center gap-2">
            <h1 class="font-bold">Hey, soy Luis Eduardo</h1>
            <span class="hover:rotate-45 transition-transform cursor-default">🖐</span>
        </div>            
        <p class="font-light mt-6 leading-snug text-3xl xl:text-4xl">
            +1 año de experiencia. <strong class="text-cYellow font-normal">Desarrollador Front-end y Back-End.</strong> 
            <strong class="text-cBlue font-normal">Programador autodidacta.</strong> 
            <strong class="text-cPink font-normal">Entusiasta en la programación.</strong>
        </p>
        <div class="mt-8 space-x-5 grid grid-cols-2 w-3/4 xl:w-2/5">
            <Link isPrimary={true} label="GitHub" href="https://github.com/LUISEDOCCOR" isBig={true}>
                <Github slot="before"/>
            </Link>
            <Link isPrimary={true} label="Contacto" href="mailto:luiseduardoocegueda@gmail.com" isBig={true}>
                <Gmail slot="before"/>
            </Link>
        </div>
    </article>
</section>