---
import type { ActionError } from "astro:actions"
import Code from "../Icons/Code.astro"
import Card from "../common/Card.astro"


const projects = [
    {
        image: "/edutask.webp",
        title: "Edutask",
        content: `Gestiona tus tareas diarias de manera eficiente, establece recordatorios 
        y realiza un seguimiento de tu progreso.`,
        preview: "https://www.edutask.online/",
        github: "https://github.com/LUISEDOCCOR/EduTask",
        stack: ["tailwind", "supabase", "astro", "react"]
    },
    {
        image: "/quizznumbers.webp",
        title: "Quizz Numbers",
        content: `Un juego de deslizamiento numérico donde organizas fichas numeradas en secuencia 
        dentro de una cuadrícula desordenada.`,
        preview: "https://quizz-numbers.vercel.app/",
        github: "https://github.com/LUISEDOCCOR/quizz-numbers",
        stack: ["tailwind", "react", "vite"]
    }
]
const community = [
    {
        image: "/hackafor.webp",
        title: "Hackafor",
        content: `En este proyecto, que pertenece a @afor_digital, streamer en twitch, 
        he aportado haciendo una página 404 y añadido una cuenta regresiva en el Hero`,
        preview: "https://hackafor-2.vercel.app/",
        github: "https://github.com/Afordin/hackafor-2",
        stack: ""
    }
]
---

<section id="projects">
    <header class="flex items-center gap-3">
        <Code/>
        <h2 class="text-4xl font-bold">Proyectos</h2>
    </header>
    <main class="mt-24 space-y-12">
        {
            projects.map((props) => (
                <Card {...props}/>
            ))
        } 
        <h3 class="text-2xl font-semibold">Comunidad</h3>
        {
            community.map((props) => (
                <Card {...props}/>
            ))
        } 
    </main>
</section>