---
import Card from "../common/Card.astro"


const projects = [
    {
        image: "/edutask.webp",
        title: "Edutask",
        content: `Gestiona tus tareas diarias de manera eficiente, establece recordatorios 
        y realiza un seguimiento de tu progreso.`,
        preview: "https://www.edutask.online/",
        github: "https://github.com/LUISEDOCCOR/EduTask",
        stack: ["tailwind", "supabase", "astro", "react"]
    },
    {
        image: "/codetopia.webp",
        title: "Codetopia",
        content: `Codetopia es una aplicación de foro de programación diseñada para facilitar el intercambio
        de conocimientos y experiencias entre desarrolladores. Creada con React y Golang`,
        preview: "https://codetopia.vercel.app/",
        github: "https://github.com/LUISEDOCCOR/forum-front",
        stack: ["tailwind", "react", "vite", "golang", "psql"]
    }
]
const community = [
    {
        image: "/hackafor.webp",
        title: "Hackafor",
        content: `En este proyecto, que pertenece a @afor_digital, streamer en twitch, 
        he aportado haciendo una página 404 y añadido una cuenta regresiva en el Hero`,
        preview: "https://hackafor-2.vercel.app/",
        github: "https://github.com/Afordin/hackafor-2",
        stack: ""
    }
]
---

<section id="projects" class="scroll-mt-16 px-4 xl:px-0">
    <header>
        <h2 class="text-4xl font-bold scroll-animation">Proyectos</h2>
    </header>
    <main class="mt-24 space-y-12">
        {
            projects.map((props) => (
                <Card {...props}/>
            ))
        } 
        <h2 class="text-2xl font-semibold">Comunidad</h2>
        {
            community.map((props) => (
                <Card {...props}/>
            ))
        } 
    </main>
</section>
