---
import { db, Projects as ProjectsDB } from "astro:db"
import Card from "../common/Card.astro"
import { eq } from "astro:db"


const projects = await db.select().from(ProjectsDB).where(eq(ProjectsDB.isOpenSource, false))
const community = await db.select().from(ProjectsDB).where(eq(ProjectsDB.isOpenSource, true))
---

<section id="projects" class="scroll-mt-16 px-4 xl:px-0">
    <header>
        <h2 class="text-4xl font-bold scroll-animation">Proyectos</h2>
    </header>
    <main class="mt-24 space-y-12">
        {
            projects.map((props) => (
                <Card {...props}/>
            ))
        } 
        <h2 class="text-2xl font-semibold">Comunidad</h2>
        {
            community.map((props) => (
                <Card {...props}/>
            ))
        } 
    </main>
</section>
