---
import SkillsIcon from "../Icons/Skills.astro"
import Label from "../common/Label.astro"
---
<section id="skills">
    <header class="flex items-center gap-3">
        <SkillsIcon/>
        <h2 class="text-4xl font-bold">Habilidades</h2>
    </header>
    <main class="mt-24 flex flex-wrap justify-center items-center gap-6">
        <Label title="React" name="react"/>
        <Label title="Supabase" name="supabase"/>
        <Label title="Astro" name="astro"/>
        <Label title="Tailwind" name="tailwind"/>
        <Label title="Vite" name="vite"/>
        <Label title="html" name="html"/>
        <Label title="css" name="css"/>
        <Label title="Python" name="python"/>
    </main>
</section>