---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/common/Nav.astro';
//Sections
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		<Nav/>
		<Hero/>
	</header>
	<main class="mt-36 space-y-32">
		<Projects/>
	</main>
</Layout>
