<footer class="mt-24 pb-8 flex justify-center items-center flex-col">
    <span class="text-sm font-medium text-neutral-600 text-center xl:text-left">
        luiseduardoocegueda@gmail.com
    </span>
    <span class="text-lg font-medium text-neutral-500 text-center xl:text-left">
        Inspired by <strong>@midudev</strong> and <strong>@afor_digital</strong> 
    </span>
</footer>