<footer class="mt-24 pb-12 flex justify-center items-center flex-col gap-2">
    <span class="text-md font-medium text-neutral-400 text-center xl:text-left">
        luiseduardoocegueda@gmail.com
    </span>
    <span class="text-lg font-medium text-neutral-400 text-center xl:text-left">
        Inspired by <strong>@midudev</strong> and <strong>@afor_digital</strong> 
    </span>
</footer>