---
import { navigate } from "astro:transitions/client"
import IconsDev from "../Icons/dev/IconsDev.astro"
const { title, name } = Astro.props 
---

<section class="bg-neutral-900 px-8 py-2 rounded-full 
    border border-neutral-700 scroll-animation"
>
   <div class="flex items-center gap-2 hover:scale-110 transition-transform">
        <i class={`devicon-${name}-plain colored`}></i>
        <span class="text-xl font-semibold">{title}</span>
    </div>
</section>