---
const { title, name } = Astro.props 
---

<section class="bg-neutral-900 px-8 py-2 rounded-full 
    border border-neutral-700 scroll-animation"
>
   <div class="flex items-center gap-2 hover:scale-110 transition-transform">
         <img height="20" width="20" alt={`icon-${name}`} src={`https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/${name}/${name}-original.svg`} />
        <span class="text-xl font-semibold">{title}</span>
    </div>
</section>