---
interface Props {
    href: string
    label: string
    isBig: boolean
    isPrimary: boolean
}

const { href, label, isBig, isPrimary } = Astro.props
---

<a class:list={[
    `px-2 rounded-full py-1.5 border-2 font-medium
    flex items-center w-full justify-center
    hover:opacity-65 transition-opacity`,
    {
        "text-md gap-2": !isBig,
        "text-xl gap-3": isBig
    },
    {
        "bg-neutral-700 hover:border-neutral-700 border-transparent": isPrimary,
        "bg-transparent border-neutral-700": !isPrimary
    }      
]}
    href={href} 
    target="_blank"
>
    <slot name="before"/>
    {label}
    <slot name="after"/>
</a>