---
interface Props {
    href: string
    label: string
    isBig: boolean
}

const { href, label, isBig } = Astro.props
---

<a class:list={[
    `bg-neutral-700 px-2 rounded-full py-1 border-2 border-transparent font-medium
    hover:bg-transparent hover:border-neutral-700 transition-colors flex items-center w-full justify-center`,
    {
        "text-md gap-2": !isBig,
        "text-xl gap-3": isBig
    }     
]}
    href={href} 
    target="_blank"
>
    <slot name="before"/>
    {label}
    <slot name="after"/>
</a>