---
const navItems = [
    {
        href: "#aboutme",
        label: "Sobre Mí"
    },
    {
        href: "#projects",
        label: "Proyectos"
    },
    {
        href: "#skills",
        label: "Habilidades"
    },
    {
        href: "#certifications",
        label: "Certificaciones"
    }
]
---

<nav class="bg-cBlack w-3/4 px-2  mx-auto justify-center py-2 rounded-full
text-lg hidden grid-cols-4 xl:grid"> 
    {
        navItems.map(({ label, href }) => (
            <a
                class="text-center hover:bg-neutral-700 transition-colors py.5 rounded-full"
                href={href}
            >
                {label}
            </a>
        ))
    }
</nav>