---
import '@fontsource-variable/dm-sans';
import Footer from '../components/common/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="+1 de experiencia. Desarrollador Front-end y Back-End. Programador autodidacta. Entusiasta en la programación.">
		
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="luiseduardocortes.xyz">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Luis Eduardo Ocegueda Cortes">
		<meta property="og:description" content="+1 de experiencia. Desarrollador Front-end y Back-End. Programador autodidacta. Entusiasta en la programación.">
		<meta property="og:image" content="/preview.webp">
		
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="portafolio2024-v2-ih7e3840k-luisedoccors-projects.vercel.app">
		<meta property="twitter:url" content="luiseduardocortes.xyz">
		<meta name="twitter:title" content="Luis Eduardo Ocegueda Cortes">
		<meta name="twitter:description" content="+1 de experiencia. Desarrollador Front-end y Back-End. Programador autodidacta. Entusiasta en la programación.">
		<meta name="twitter:image" content="/preview.webp">

		<title>Luis Eduardo Ocegueda Cortes</title>
	</head>
	<body 
		class="min-h-screen bg-neutral-950 
		bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]
		pt-12
		"
	>
		<div class="mx-auto max-w-4xl">
			<slot />
			<Footer/>
		</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark ligth;
		--sb-track-color: #151515;
		--sb-thumb-color: #515151;
		--sb-size: 5px;
	}
	html {
  		font-family: 'DM Sans Variable', sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body::-webkit-scrollbar {
	width: var(--sb-size)
	}

	body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: var(--sb-size);
	}

	body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: var(--sb-size);
	
	}

	@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color)
						var(--sb-track-color);
	}
	}

	.scroll-animation{
		animation: card-animation-revelation auto linear both;
		animation-timeline: view();
		animation-range: entry 20%;
	}

	@keyframes card-animation-revelation {
		from{
			opacity: 0;
			translate: 0 100px;
			scale: .8;
		}
		to{
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}

</style>
